*{
    margin: 0;
    padding: 0;
}


body{

}

.container{
    background-color: #454785;
    width: 100%;
    height: 60px; /*EL alto y widht el ancho*/
}

nav ul li{
    display: flex;
    justify-content: center;
}


nav ul li a{
   color: #fff;
   margin: 20px;
   text-decoration: none;
}

nav ul li a :hover{
    background-color: #485964;
    color: #000;
}

.FlujoCorriente{
    background-color: #485964;
    color: #fff;
}

h1, p{
    color: #fff;
    margin: 10px;
    text-align: center;
}

.cards{
   display: flex;
   justify-content: center;
   background-color: #8080;
   border-radius: 20px;
   width: 100%;
   height: 110px;
}


.GraficaReporte{


}
